doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title= title
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/index.css')
    body
        block content
            .container

                form(action="/"+process.env.REVPROX+"oauth2/authorize", method="post")
                    h2=user.username
                    input.input-block-level(type="submit", value="Allow")
                    input.input-block-level(type="submit", value="Deny", name="cancel")
                    input.input-blocl-level(type="hidden", name = "transaction_id", value=transactionID)
